
@font-face {font-family: "iconfont";
  src: url('font-family/iconfont.eot?t=1488194605575'); /* IE9*/
  src: url('../font/iconfont.eot?t=1488194605575#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../font/iconfont.woff?t=1488194605575') format('woff'), /* chrome, firefox */
   url('../font/iconfont.ttf?t=1488194605575') format('truetype'),/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
   url('../font/iconfont.svg?t=1488194605575#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before { content: "\e614"; }

.icon-xiangji:before { content: "\e6ac"; }

.icon-wode:before { content: "\e615"; }

.icon-xiangmu:before { content: "\e641"; }

.icon-jinengquanmian:before { content: "\e604"; }

.icon-xiangmujingli:before { content: "\e61d"; }

.icon-music:before { content: "\e700"; }

